examples/ch32/BlackjackGame/xml-resources/web-service-references/BlackjackService/wsdl/localhost_8080/Blackjack/BlackjackService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://blackjack.deitel.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://blackjack.deitel.com/" name="BlackjackService">
<types>
<xsd:schema>
<xsd:import namespace="http://blackjack.deitel.com/" schemaLocation="http://localhost:8080/Blackjack/BlackjackService?xsd=1"/>
</xsd:schema>
</types>
<message name="shuffle">
<part name="parameters" element="tns:shuffle"/>
</message>
<message name="shuffleResponse">
<part name="parameters" element="tns:shuffleResponse"/>
</message>
<message name="dealCard">
<part name="parameters" element="tns:dealCard"/>
</message>
<message name="dealCardResponse">
<part name="parameters" element="tns:dealCardResponse"/>
</message>
<message name="getHandValue">
<part name="parameters" element="tns:getHandValue"/>
</message>
<message name="getHandValueResponse">
<part name="parameters" element="tns:getHandValueResponse"/>
</message>
<portType name="Blackjack">
<operation name="shuffle">
<input wsam:Action="http://blackjack.deitel.com/Blackjack/shuffleRequest" message="tns:shuffle"/>
<output wsam:Action="http://blackjack.deitel.com/Blackjack/shuffleResponse" message="tns:shuffleResponse"/>
</operation>
<operation name="dealCard">
<input wsam:Action="http://blackjack.deitel.com/Blackjack/dealCardRequest" message="tns:dealCard"/>
<output wsam:Action="http://blackjack.deitel.com/Blackjack/dealCardResponse" message="tns:dealCardResponse"/>
</operation>
<operation name="getHandValue">
<input wsam:Action="http://blackjack.deitel.com/Blackjack/getHandValueRequest" message="tns:getHandValue"/>
<output wsam:Action="http://blackjack.deitel.com/Blackjack/getHandValueResponse" message="tns:getHandValueResponse"/>
</operation>
</portType>
<binding name="BlackjackPortBinding" type="tns:Blackjack">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="shuffle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dealCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHandValue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BlackjackService">
<port name="BlackjackPort" binding="tns:BlackjackPortBinding">
<soap:address location="http://localhost:8080/Blackjack/BlackjackService"/>
</port>
</service>
</definitions>